body, html {
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Rubik', sans-serif;
    padding: 1em 0.5em;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.section {
    background-color: #FFF;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
}

.section-header {
    display: flex;
    gap: 1em;
    align-items: center;
    
}

.section-avatar {
    width: 32px;
    height: 32px;
}

.section-username {
    color: #334253;
    font-weight: 500;
}

.section-time {
    color: #67727E;
}

.section-comment {
    color: #67727E;
    line-height: 24px;
}

.section-btns {
    display: flex;
    align-items: center;
}

.btn-text {
    color: #5357B6;
    font-weight: 500;
}

.section-add-remove-btn {
    width: 100px;
    height: 40px;
    margin-right: auto;
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #F5F6FA;
}

.section-add-remove-btn > img {
    cursor: pointer;
}

.section-reply-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.reply-icon,
.delete-icon,
.edit-icon {
    margin-right: 6px;
}

.section-replies {
    padding-left: 1em;
    border-left: 3px solid #E9EBF0;
}

.you-tag {
    background-color: #5357B6;
    border-radius: 2px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    padding: 3px;
}

.add-comment-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

textarea {
    min-height: 96px;
    width: 100%;
    border: 1px solid #E9EBF0;
    border-radius: 8px;
    resize: none;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #67727E;
}

textarea:focus {
    outline-color: #5357B6;
    caret-color: #5357B6;
}

button {
    color: #FFF;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.submit-btn {
    background-color: #5357B6;
    margin-left: auto;
}

button:hover,
button:focus {
    background-color: #C5C6EF;
}

.btn-text:hover,
.btn-text:focus {
    color: #C5C6EF;
}

.red:hover,
.red:focus {
    color: #FFB8BB;
}

.plus-icon:hover,
.plus-icon:focus,
.minus-icon:hover,
.minus-icon:focus {
    filter: invert(37%) sepia(67%) saturate(574%) hue-rotate(200deg) brightness(84%) contrast(94%);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    margin: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.modal-btns {
    display: flex;
    gap: 12px;
}

.delete-edit-btns {
    display: flex;
    margin-left: auto;
}

.red {
    color: #ED6368;
}

.mg {
    margin-right: 1em;
}

.cancel-btn {
    background-color: #67727E;
}

.delete-btn {
    background-color: #ED6368;
}

.large-screen {
    display: none;
}

@media (min-width: 580px){
    .add-comment-container,
    .comments{
        flex-direction: row;
    }

    .add-comment-container {
        width: 100%;
    }

    .add-comment,
    .section-btns {
        display: contents;
    }

    textarea,
    .comments-container {
        order: 1;
        width: 100%;
    }

    .submit-btn {
        order: 2;
        align-self: flex-start;
    }

    .section-reply-btn {
        margin-left: auto;
    }

    .section-add-remove-btn {
        flex-direction: column;
        height: 100px;
        width: 40px;
    }

    .small-screen {
        display: none;
    }

    .large-screen {
        display: block;
    }
}

@media (min-width: 762px){
    body {
        padding-block: 32px;
    }

    main {
        max-width: 730px;
        margin: 0 auto;
    }

    .section-replies {
        padding-left: 32px;
        margin-left: 32px;
    }
}