body, html {
    margin: 0;
    background-color: #E9EBF0;
    font-family: 'Rubik', sans-serif;
    padding: 1em 0.5em;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.section {
    background-color: #FFF;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
}

.section-header {
    display: flex;
    gap: 1em;
    align-items: center;
    
}

.section-avatar {
    width: 32px;
    height: 32px;
}

.section-username {
    color: #334253;
    font-weight: 500;
}

.section-time {
    color: #67727E;
}

.section-comment {
    color: #67727E;
    line-height: 24px;
}

.section-btns {
    display: flex;
    align-items: center;
}

.btn-text {
    color: #5357B6;
    font-weight: 500;
}

.section-add-remove-btn {
    width: 100px;
    height: 40px;
    margin-right: auto;
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #F5F6FA;
}

.section-add-remove-btn > img {
    cursor: pointer;
    fill: #5357B6;
}

.section-reply-btn {
    align-items: center;
    cursor: pointer;
}

.reply-icon,
.delete-icon,
.edit-icon {
    margin-right: 6px;
}

.section-replies {
    padding-left: 1em;
    border-left: 2px solid #979797;
}

.you-tag {
    background-color: #5357B6;
    border-radius: 2px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    padding: 3px;
}

.red {
    color: #ED6368;
}

.mg {
    margin-right: 1em;
}

