body, html {
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Rubik', sans-serif;
    padding: 1em 0.5em;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.section {
    background-color: #FFF;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
}

.section-header {
    display: flex;
    gap: 1em;
    align-items: center;
    
}

.section-avatar {
    width: 32px;
    height: 32px;
}

.section-username {
    color: #334253;
    font-weight: 500;
}

.section-time {
    color: #67727E;
}

.section-comment {
    color: #67727E;
    line-height: 24px;
}

.section-btns {
    display: flex;
    align-items: center;
}

.btn-text {
    color: #5357B6;
    font-weight: 500;
}

.section-add-remove-btn {
    width: 100px;
    height: 40px;
    margin-right: auto;
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #F5F6FA;
}

.section-add-remove-btn > img {
    cursor: pointer;
    fill: #5357B6;
}

.section-reply-btn {
    align-items: center;
    cursor: pointer;
}

.reply-icon,
.delete-icon,
.edit-icon {
    margin-right: 6px;
}

.section-replies {
    padding-left: 1em;
    border-left: 3px solid #E9EBF0;
}

.you-tag {
    background-color: #5357B6;
    border-radius: 2px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    padding: 3px;
}

.add-comment-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

textarea {
    height: 96px;
    width: 100%;
    border: 1px solid #E9EBF0;
    border-radius: 8px;
    resize: none;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #67727E;
}

button {
    color: #FFF;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.submit-btn {
    background-color: #5357B6;
    margin-left: auto;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #2B2D64;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    margin: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.modal-btns {
    display: flex;
    gap: 12px;
}

.red {
    color: #ED6368;
}

.mg {
    margin-right: 1em;
}

.cancel-btn {
    background-color: #67727E;
}

.delete-btn {
    background-color: #ED6368;
}


